.git
.gitignore
.vscode

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

backend/.env
backend/.env.*
backend/.venv
backend/venv
.env.prod
.env.prod.save
*.pem
*.key

frontend/node_modules
frontend/dist
node_modules

.claude*
.swarm
.pytest_cache
.mcp.json
*.tgz

start-dev.cmd
start-dev.ps1
